# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment variables
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
htmlcov/
.coverage
.tox/

__pycache__/
